<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Actions Api</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,501,400&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="mainContainer">
            <div class="leftsection">
            </div>
            <div class="rightsection">
                <h1>Github Actions</h1>
                <h2>An Api to connect Github files to your apps.</h2>
                <div class="buttonContainer">
                    <a href="{{url_for('login')}}"><button>Login</button></a>
                    <a href="{{url_for('register')}}"><button>Register</button></a>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>